body {
  overflow-y: auto;
  overflow-x: auto;
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.horizontal-scroll-wrapper {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 100vw;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.horizontal-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.scroll-page {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  position: relative;
  scroll-snap-align: start;
}


.vanta-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.vanta-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.projects-content-overlay {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
